html , body {
    height: 100%;
    max-height: 100%;
}

.footer {
    margin-top: 500px;
}

.medium-top {
    border: 1px solid green;
}

.left-top {
    border: 1px solid yellow;
}

.right-top {
    border: 1px solid blue;
}
.veh-item{
    padding: 24px;
    border: 1px solid grey;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.kartinka{
    height: 100%;
    text-align: center;
    border: 1px solid white;
}

.howdyho {
    border: 1px solid red;
    text-align: center;
    padding: 25px;
}

.general-container {
    border: 1px solid red;
}

.veh-price {
    text-align: right;
    font-size: x-large;
    color: red;
}

.veh-description {
    font-size: large;
}



.veh-bottom {
    margin-top: 35px;
    border: 1px solid grey;
    padding: 10px;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.veh-medium {
    font-size: x-large;
}

.slider-box{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  position:relative;
  /*width:530px;*/
  /*height:350px;*/
    width: 100%;
  overflow:hidden;
}
.slider{
  position:relative;
  width:10000px;
  height:350px;
}
.slider img{
  float:left;
}
.slider-box .prev, .slider-box .next{
  position:absolute;
  top:175px;
  display:block;
  width:35px;
  height:35px;
  cursor:pointer;
}

.veh-picture {
    height:350px;
    width: 555px;
}

.slider-box .prev{
  left:10px;
  background:url('../media/slider/left.png') no-repeat 0 0;
}
.slider-box .next{
  right:10px;
  background:url('../media/slider/right.png') no-repeat -10px 0;
}

.vehicle-search {
    border: 1px solid red;
}

.test {
    border: 5px solid red;
    width: 100%;
}

.testpicture {
    width: 100%;
}