

{% load static %}



{% if error %}
    <p style="color: red;">Please submit a search term.</p>
{% endif %}

<form  action="" method="get" class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Пошук автомобіля</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="marka">Марка</label>
  <div class="col-md-4">
  <input name="marka" class="form-control input-md" id="marka" required="" type="text">

  </div>
</div>

{#<!-- Text input-->#}
{#<div class="form-group">#}
{#  <label class="col-md-4 control-label" for="model">Модель</label>#}
{#  <div class="col-md-4">#}
{#  <input name="model" class="form-control input-md" id="model" required="" type="text">#}
{##}
{#  </div>#}
{#</div>#}

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="search"></label>
  <div class="col-md-4">
    <input type="submit" value="Пошук">
  </div>
</div>

</fieldset>
</form>

