<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Пошук Автомобіля</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="model">Модель</label>
  <div class="col-md-4">
  <input name="model" class="form-control input-md" id="model" required="" type="text" placeholder="">
  <span class="help-block">Модель автомобіля</span>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="marka">Марка</label>
  <div class="col-md-4">
  <input name="marka" class="form-control input-md" id="marka" required="" type="text" placeholder="">
  <span class="help-block">Марка автомобіля</span>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="oblast-choice">Select Basic</label>
  <div class="col-md-4">
    <select name="oblast-choice" class="form-control" id="oblast-choice">
      <option value="1">Львівська</option>
      <option value="2">Волинська</option>
    </select>
  </div>
</div>

</fieldset>
</form>