<div class="container-fluid">
<div class="row veh-item">
    <div class="col-lg-4">
        <div class="kartinka">
            <a href="{% url 'vehicle' item.vehicle.id %}">
                <img src="{{ item.img.url }}" class="img-responsive">
            </a>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-12">
                <div class="veh-main">
                    <h2>{{ item.vehicle.marka }} {{ item.vehicle.model }}  {{ item.vehicle.year }}
                        <span class="veh-price glyphicon glyphicon-usd">{{ item.vehicle.price }}</span></h2>
                </div>
            </div>
            <div class="col-lg-6">
                <ul type="desc-first">
                    <li class="glyphicon glyphicon-flash"> Тип пального : {{ item.vehicle.fuel }}</li>
                    <li class="glyphicon glyphicon-wrench"> Об'єм двигуна : {{ item.vehicle.capactity }}</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul type="desc-second">
                    <li class="glyphicon glyphicon-move"> Локація : {{ item.vehicle.location }}</li>
                    <li class="glyphicon glyphicon-road"> Пробіг : {{ item.vehicle.mileage }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
    </div>