{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% for picture in vehicle.vehicleimage_set.all %}
                    <img src="{{ picture.img.url }}" class="product-picture">
                {% endfor %}
            </div>
            <div class="col-lg-6 right-container">
                <h1 class="veh-marka">
                    {{ vehicle.marka }}
                    {{ vehicle.model }}
                </h1>
                <hr>
                <div class="veh-price">
                    <p>
                        Ціна : {{ vehicle.price }} гривень
                    </p>
                </div>
                <div class="veh-year">
                        Рік випуску : {{ vehicle.year }}
                </div>
                <div class="veh-mileage">
                        Пробіг : {{ vehicle.mileage }}
                </div>
                <div class="veh-fuel">
                        Вид двигуна : {{ vehicle.fuel }}
                </div>
                <div class="veh-capacity">
                        Об'єм двигуна : {{ vehicle.capacity }}
                </div>
                <div class="veh-locatuion">
                        Місцезнаходження т/з : {{ vehicle.location}}
                </div>
                <div class="veh-description">
                        Опис : <hr> {{ vehicle.description}}
                </div>
        </div>
    </div>
    </div>
{% endblock %}