{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container veh-top">
        <div class="row">
            <div class="col-lg-6">
                    <h1 class="veh-marka">
                        {{ vehicle.marka }}
                        {{ vehicle.model }}
                    </h1>
                <hr>
            </div>
            <div class="col-lg-6">
                <div class="veh-price">
                    <p>
                        Ціна : {{ vehicle.price }} гривень
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container veh-medium">
        <div class="row">
            <div class="col-lg-6">
                <ul>
                    <li>
                        <div class="veh-year glyphicon glyphicon-info-sign">
                            Рік випуску : {{ vehicle.year }}
                        </div>
                    </li>
                    <li>
                        <div class="veh-mileage glyphicon glyphicon-road">
                            Пробіг : {{ vehicle.mileage }}
                        </div>
                    </li>
                    <li>
                        <div class="veh-fuel glyphicon glyphicon-flash">
                            Вид двигуна : {{ vehicle.fuel }}
                        </div>
                    </li>
                    <li>
                        <div class="veh-capacity glyphicon glyphicon-wrench">
                            Об'єм двигуна : {{ vehicle.capacity }}
                        </div>
                    </li>
                    <li>
                        <div class="veh-locatuion glyphicon glyphicon-move">
                            Місцезнаходження т/з : {{ vehicle.location}}
                        </div>
                    </li>
                </ul>





        </div>
            <div class="col-lg-6">
                <div class="slider-box">
                    <div class="slider">
                        {% for picture in vehicle.vehicleimage_set.all %}
                            <img src="{{ picture.img.url }}" class="veh-picture">
                        {% endfor %}
                    </div>
                        <div class="prev"></div>
                        <div class="next"></div>
                </div>
            </div>
    </div>
    </div>
    <div class="container veh-bottom">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="veh-description">
                    Опис :  {{ vehicle.description}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}